.Add {
  border-radius: 10px;
  border: transparent;
  color: white;
  font-size: 25px;
  padding: 8px 20px;
  margin: 30px 0 30px 20px;
  cursor: pointer;
  transition: all 0.4s;
  opacity: 0.8;
  background: rgb(47,34,195);
  background: linear-gradient(0deg, rgba(47,34,195,1) 4%, rgba(13,136,153,1) 34%);
  box-shadow: 2px 2px 2px 2px grey;
  margin-left: 46%;}
.Add:hover{
	opacity: 1;
  transform: scale(1.07);
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 15px rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }
.Add:focus {
  outline: 0;
}

.Modal {
  position: relative;
  top: 5%;
  left: 35%;
  padding: 10px;
  width: 500px;
  text-align: center;
  border: 1px solid #1e1b26;
  border-radius: 5px;
  background-color: white;
}

form h1 {
  text-decoration: underline;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
form input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: grey;
  padding-left: 10px;
  margin-top: 5px;
}
form label {
  margin-top: 10px;
}
form input:focus {
  outline: 0;
}
form textarea{
  border-radius: 5px;
  border: 1px solid lightgray;
  color: grey;
  padding: 10px;
  margin-top: 10px;
}
form textarea:focus {
  outline: 0;
}
.buttons {
  border-radius: 5px;
  background-color: #00008B;
  border: transparent;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}
.buttons:hover {
  background: rgb(47,34,195);
  background: linear-gradient(0deg, rgba(47,34,195,1) 4%, rgba(13,136,153,1) 34%);
  transform: scale(1.07);
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 15px rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }
.buttons:focus {
  outline: 0;
}
